/* General styles */

:root {
    --color-red: red;
}

* {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: Sofia Sans, sans-serif;
    transition: all 1s ease;
    color: #dcdfe5;
}

button {
    width: 200px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: #090809;
    font-size: 2rem;
    margin: 20px 50px 0px 50px;
    transition: all ease 1s;
    margin: 40px auto;
    display: block;
}

button:hover {
    animation: border-pulse 2s ease infinite;
}

hr {
    filter: opacity(0.2);
    @media (min-width: 520px) {
        display: none;
    }
}
/* Header */

header {
    z-index: 999;
    position: sticky;
    width: 100%;
    top: 0;
    overflow: hidden;
    .header {
        background-color: #090809;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
        
        .logo {
            height: 100px;
            aspect-ratio:initial;
            @media(max-width:530px) {
                height: 70px;
            }
            @media(max-width:400px) {
                height: 50px;
            }
        }

        nav {
            a {
                color: #dcdfe5;
                text-decoration: none;
                font-size: 2rem;
                margin-left: 20px;
                width: 8rem;
                transition: all ease 1s;
                text-align: center;

                gap: 15px;

            }

            a:hover {
                color: #fff;
                background-color: #090809;
            }

            .contact-link {
                border: 1px solid #dcdfe5;
                padding: 10px;
                border-radius: 50px;
            }
            .contact-link:hover {
                background-color: #dcdfe5;
                color: #090809;
            }

            @media (max-width: 625px) {
                padding-right: 20px;
                display: grid;
                gap: 15px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                a {
                    width: 10rem;
                    text-align: center;
                }
                .contact-link {
                    border: none;
                    padding: 0;
                    border-radius: none;
                }
                .contact-link:hover {
                    background-color: #090909;
                    color: #dcdfe5;
                }
            }  


            @media (max-width: 400px) {
                padding-right: 20px;
                display: grid;
                gap: 5px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                

            }
        }

        @media (max-width: 700px) {
            padding: 10px;
            justify-content: space-evenly;
            
        }
        

    }
}

/* Body */

main{
    h1 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }

    div[class~="body-box"] {
        width: 100%;
        min-height: calc(100vh - 100px - 3rem);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #090809;
        color: #dcdfe5;
        position: relative;        
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 2rem;
        }

        .anchor {
            position: absolute;
            height: 0xp;
            width: 0px;
            background-color: red;
            top: calc(-100px - 3rem);
            @media (max-width: 600px) {
                top: calc(-100px - 2rem);
            }
        }

        @media (max-width: 600px) {
            min-height: calc(100vh - 100px - 2rem);
        } 
    }
}

/* Home */

div[class="home body-box"]{
    min-height: calc(100vh - 100px) !important;
    background-image: url(image/home-background.jpg);
    min-height: calc(100vh - 100px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    h1 {
        text-align: center;
        font-size: 8rem !important;
    }
    p {
        text-align: center;
        margin: 20px 40px 0px 50px;
        max-width: 600px;
        font-size: 2rem;
    }


    @media (max-width: 600px) {
        h1 {
            font-size: 6rem !important;
        }
    }
}

/* Home Arrow */

.arrow {

    position: absolute;
    width: 128px;
    bottom: 15px;
    left: calc(50% - 64px);
    cursor: pointer;
    transform: rotate(90deg);
    transition: all ease 0.5s;
}
.arrow:hover {
    bottom: 50px;
    filter: brightness(2);
}
        
/* Gradient on home image */

div.home.body-box::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px; 
    background: linear-gradient(to bottom, #090809, rgba(9, 8, 9, 0));
}

div.home.body-box::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(9, 8, 9, 0), #090809);
}

div.home.body-box::before {
    top: 0;
}

div.home.body-box::after {
    bottom: 0;
}

@media (max-height: 750px) {
    div.home.body-box::before{
        height: 50px;
    }
    div.home.body-box::after{
        height: 100px;
    }
}

@media (min-height: 1000px) {
    div.home.body-box::before{
        height: 500px;
    }
    div.home.body-box::after{
        height: 500px;
    }
}

/* Service */

div[class="service body-box"]{
    table {
        max-width: 1400px;
        border-collapse: collapse;
        margin: 0px auto 70px auto;
          
        td {
            width:40vw;
        }

        p {
            width: 80%;
            margin: 0 auto;
        }
        .table-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            * {
                margin: 5px 0;
            }
        }
        img {
            max-width: 250px;
            width: 50vw;
            margin: 0 calc(( 100% - 250px) / 2);
        }

        .desc {
            margin-top: 50px;
            max-width: 400px;
            text-align: center;
        }
        p[class="desc first"] {
            font-weight: 700;
            font-size: 2.3rem;
        }

        .price {
            color: #8e0413;
            font-weight: 800;
            margin: 20px 0;
            text-align: center;
            font-size: 3rem;
        }

        .buy {
            margin-bottom: 40px;
            border-color: #dcdfe5;
        }
        @media (max-width: 520px) {
            margin: 0px auto 0px auto;
            td{
                width: 80vw;
            }
            tr {
                display: flex;
                flex-direction: column;
                
            }
            td img {
                width: 0px !important;
            }
        }
    }
    table:last-of-type {
        margin: 0px auto 0px auto;
    }
}

/* Contact */
div[class="contact body-box"] {
    min-height: 0 !important;
    .h1-contact {
        text-align: center;
        margin-bottom: 40px;
        padding-top: 100px;
    }
}

div[class="contact-content"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-bottom: 200px;

    h2 {
        font-size: 3rem;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    


    .map {
        grid-column: 1;
        grid-row: 1;

        p {
            margin-top: 20px;
        }
        .frame {
            width: 90%;
            height: 80%;
            margin: 0 auto;
            position: relative;
            iframe {
                width: 100%;
                height: 100%;
            }
            button {
                display: unset;
                background-color: red;
                position: absolute;
                width: 100px;
                height: 3rem;
                font-size: 2rem;
                top: 42%;
                left: calc(50% - 50px);
            }
            @media (min-width: 572px) {
                button {
                    display:none;
                }
            }
        }

    }

    .other {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 !important;
        padding: 0 !important;
        h2 {
            font-size: 3rem;
            margin-bottom: 10px;
            margin-top: 30px;
            text-decoration: underline;
        }
        p {
            margin-top: 10px;
        }
        .icons {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            img {
                width: 50px;
                margin: 0 20px;

            }
            img:hover {
                filter: brightness(2);
                width: 70px;
            }
        }
    }

    @media (max-width: 820px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-bottom: 50px;
        .map {
            grid-column: 1;
            grid-row: 1;
            h2 {
                font-size: 2rem;
                margin-bottom: 10px;
            }
        }
        .other {
            grid-column: 1;
        }
    }
}



/* footer */

.fast-contact {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0f0f0f;
    color: #dcdfe5;
    p {
        font-size: 3rem;
        animation: scrollText 10s linear infinite;
    }
    
    @media (max-width: 600px) {
        p {
            font-size: 2rem;
        }
    }   
    @media (min-width: 1100px){
        p{
            animation: scrollText 20s linear infinite;
        }
    }
}

/* Animations */

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes border-pulse {
    0% {
        border-color: #090809;
    }
    50% {
        border-color: #dcdfe5;
    }
    100% {
        border-color: #090809;
    }
}
